@* @{
    Layout = "/Views/Shared/_Layout.cshtml";
} *@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-ZMP7rVo3mIykV+2+9J3Uq6q9t8lPLO6Kc5I4LLuQ5brF5a5PM4P2pd5sO8fs5Bh5" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="index.html" class="logo">
                                <img src="/assets/images/logo.png">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Product", "Home")">Products</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                                <li class="scroll-to-section"><a href="/Identity/Account/Login">Login</a></li>
                                <li class="fas fa-shopping-cart"><a href="@Url.Action("Index", "CartItems")">Cart</a></li>


                               @* <li>
                                    <a href="@Url.Action("Index", "CartItems")">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </li>*@
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        @RenderBody()
        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="first-item">
                            <div class="logo">
                                <img src="/assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
                            </div>
                            <ul>
								<li><a href="mailto:ortv617@gmail.com"> Email</a></li>
								<li> <a href="tel:054-5476488">Phone</a></li>
                                 <li><a href="https://www.google.com/maps?q=הקליר%209%20נתניה">View in Google Maps</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="under-footer">
                            <p>
                                Copyright © 2023 IcePace Co., Ltd. All Rights Reserved.

                                <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                            </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
