
<!DOCTYPE html>
<html style="background-color: black; color: white;">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-ZMP7rVo3mIykV+2+9J3Uq6q9t8lPLO6Kc5I4LLuQ5brF5a5PM4P2pd5sO8fs5Bh5" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-ZMP7rVo3mIykV+2+9J3Uq6q9t8lPLO6Kc5I4LLuQ5brF5a5PM4P2pd5sO8fs5Bh5" crossorigin="anonymous">
    <title>@ViewBag.Title</title>

    <style>
      
      
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #000000;
            color: #fff;
            display: grid;
            place-items: center;
        }



        .list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: center;
             margin-top: 20px; 
        }

        .link {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: white; /* שינוי הצבע ללבן */
            color: #fff;
            font-weight: 700;
            font-size: 18px; /* שינוי גודל הטקסט */
            height: 60px; /* שינוי גובה הלחצן */
            padding: 10px 20px; /* שינוי רוחב הלחצן */
            margin-top: -10px; /* Adjust the margin value as needed */
        }

            .link::before,
            .link::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: lightpink;
                transform: scaleX(0);
                transition: transform 0.25s;
                top: -3px;
                transform-origin: left;
            }

            .link::before {
                top: -3px;
                transform-origin: left;
            }

            .link::after {
                bottom: -3px;
                transform-origin: right;
            }

            .link:hover::before,
            .link:hover::after,
            .active::before,
            .active::after {
                transform: scaleX(1);
            }

            .link:hover {
                color:white; /* הצבע שיופיע כאשר העכבר חולף מעל הכפתור */
            }
        .name {
            position: absolute;
            top: 70%;
            font-size: 11px;
            color: deeppink;
            font-weight: 800;
        }

       

        
        /* סלקטור לשניות צבע הכיתוב וגודל הגופן */
        header.header-area {
            background-color: black;
            color: white; /* כיתוב לבן */
        }

          
     
      
    </style>
</head>
<body>
    <!-- ***** Header Area Start ***** -->
    <header  style="background-color: black; color: white;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                  
                        <!-- ***** Menu Start ***** -->
                        <ul class="list">
                            <li>
                                <a href="@Url.Action("Index", "Home")" class="link">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home")" class="link">About Us</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Product", "Home")" class="link">Products</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")" class="link">Contact Us</a>
                            </li>
                            <li>
                                <a href="/Identity/Account/Login" class="link">Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CartItems")" class="link">Cart</a>
                            </li>
                        </ul>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Page Content ***** -->
    <div>
        @RenderBody()
    </div>
        <!-- ***** Footer Start ***** -->
    <footer style="background-color: black; color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="first-item">
                            <div class="logo">
                                <img src="/assets/images/logo3.ico" alt="hexashop ecommerce templatemo">
                            </div>
                            <ul>
								<li><a href="mailto:ortv617@gmail.com"> Email</a></li>
								<li> <a href="tel:054-5476488">Phone</a></li>
                                 <li><a href="https://www.google.com/maps?q=הקליר%209%20נתניה">View in Google Maps</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="under-footer">
                            <p>
                                Copyright © 2023 IcePace Co., Ltd. All Rights Reserved.

                                <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                            </p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>