@model Cloud1.Models.IceCream

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IceCream</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/@Html.DisplayFor(model => model.imageUrl)" width="150" height="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
