@model IEnumerable<Cloud1.Models.IceCream1>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/icecream1.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezFsAZQzrrqJj1g5Hv9R9gcVWeOVq+ouLmzJLZv9PH5R1NDS9g2OKtmoX5I6Dksy" crossorigin="anonymous">



<form asp-action="Index" method="post">

    <div class="input-group md-form form-control-sm form-2 pl-0">
        <input name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Search Flavour" aria-label="Search">
        <div class="input-group-append">
            <button type="submit" class="input-group-text red lighten-3" id="explore">
                @* <i class="fas fa-search" aria-hidden="true"></i> *@
            </button>
        </div>
    </div>
</form>

@* <div class="search-container">
    <form method="get" action="@Url.Action("Search")">
        <input type="text" name="searchString" placeholder="Search..." />
        <button type="submit" class="search-button">Search</button>
    </form>
</div> *@

<h1>Flavours</h1>

<p style="text-align: center; padding: 20px; font-size: 18px;">
    <a asp-action="Create" class="action-buttons"> New Flavour</a> |
    <a asp-controller="Admin" asp-action="PageMeng" class="action-buttons">Home</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IceDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.imageUrl)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                <td class="action-buttons">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
@section scripts{
    <script>
        $(function () {
            $("#explore").click(function () {
                // קוד נוסף אם יש צורך

                // שליחת הטופס
                $("form")[0].submit();
            });
        });
    </script>

    
}
